.btn {
  text-transform: uppercase;
}

.link--cta {
  position: relative;
  line-height: 40px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 8px;
  text-transform: uppercase;
  border: 0;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  &:before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 1px;
    content: '';
    background: $white;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition : all .3s;
  }

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: transparent;

    &:before {
      height: 4px;
      background: $white;
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }

  &:active, &:focus {
    color: $white !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  &--black {
    &:before {
      background: $black;
    }
    &:hover {
      color: $black;

      &:before {
        background: $black;
      }
    }

    &:active, &:focus {
      color: $black !important;
    }
  }
}

.btn--submit {
  background-color: $gray-100;
  padding: 0;
  width: 40px;
}

.btn--tertiary {
  background-color: #626c75;
  color: $white;

  &:hover {
    background-color: $black;
    color: $white;
  }
}
