.navbar {
  .nav__link {
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    margin: 0px $spacer;

    &:hover {
      color: $white;
      border-bottom: 1px solid;
      text-decoration: none;
      margin-bottom: -9px;
      padding-bottom: 8px;
    }

    &.navbar-brand {
      &:hover {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .nav {
    @include media-breakpoint-up(xl) {
      display: flex !important;
    }
  }

  .nav__logo--sticky {
    display: none;

    img {
      height: calc(#{$navbar-device-height} - #{2 * $navbar-padding-y});
      @include media-breakpoint-up(lg) {
        height: calc(#{$navbar-main-height} - #{2 * $navbar-padding-y});
      }
    }
  }

  .btn--primary {
    background-color: $white;
    border-color: $white;
    color: $base-text-color;

    &:hover {
      background-color: $base-text-color;
      border-color: $base-text-color;
      color: $white;
    }
  }

  &.sticky {
    .btn--primary {
      background-color: $black;
      border-color: $black;
      color: $white;

      &:hover {
        background-color: #D5D2A8;
        border-color: #D5D2A8;
        color: $black;
      }
    }

    .nav__logo {
      display: none;
    }

    .nav__logo--sticky {
      display: block;
    }
  }

  &.nav--active {
    background-color: transparent;

    &.sticky {
      background-color: $navbar-sticky-background;
    }
  }
}


.greedy-nav-links {
  flex: 1;
  overflow: hidden;

  .nav__link {
    flex: none;
  }
}

.footer-nav {
  a {
    color: $black;
  }
}

.navbar__burger {
  background-color: transparent;

  span {
    color: $white;
  }

  .sticky & {
    span {
      color: $black;
    }
  }
}

.nav--device {
  width: auto;
  position: absolute;
  right: $spacer;
  top: $navbar-device-height;

  @include media-breakpoint-up(lg) {
    top: $navbar-main-height;
  }

  &.is-active {
    display: block !important;

    @include media-breakpoint-up(xl) {
      display: none !important;
    }
  }
}