{% comment %}
TODO: Evaluate use of script vs CSS. If using CSS, should it go here?
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
{% endcomment %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6635416/7619212/css/fonts.css" />
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.js"></script>
<script src="/ttio_templates/bedrock/assets/js/bedrock.min.js"></script>
<script src="/assets/js/greedynav.js"></script>
<script src="/assets/js/main.min.js"></script>

{% comment %} This include does the base include & setup for TTWeb plugins{% endcomment %}

{% comment %}{% include reztrip/setup-ttweb-plugins.html %}{% endcomment %}

{% comment %}Pull any site-specific scripts here {% endcomment %}
{% include scripts/custom.html %}
{% include scripts/booking-widget.html %}
