{% comment %}
TODO: Evaluate use of script vs CSS. If using CSS, should it go here?
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
{% endcomment %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.js"></script>
<script src="/ttio_templates/bedrock/assets/js/bedrock.min.js"></script>
<script src="/assets/js/greedynav.js"></script>
<script src="/assets/js/main.min.js"></script>

{% comment %} This include does the base include & setup for TTWeb plugins{% endcomment %}

{% comment %}{% include reztrip/setup-ttweb-plugins.html %}{% endcomment %}

{% comment %}Pull any site-specific scripts here {% endcomment %}
{% include scripts/custom.html %}
{% include scripts/booking-widget.html %}
