// Rooms & Room Details Page Elements
// ==========================================================================
.room-list {
  .room-listing {
    .h3 {
      color: $dark-text;
    }
    &__price {
      font-family: $family-primary;
      font-size: $base-font-size;
      font-weight: 500;
      line-height: 24px;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .room-listing:nth-child(even) {
    background-color: $light;
  }
}

.room-listing__image {
  line-height: 0;
  border-bottom: 8px solid $secondary;
}
