// Shared Page Elements
// ==========================================================================
.tns-outer {
  .tns-nav {
    button {
      border: 0;
    }
  }
}
.rooms-slider-container {
  margin-bottom: 46px;
  &__item {
    .row {
      @include media-breakpoint-up(lg) {
        padding: 64px 0;
      }
      border: 1px solid $light-grey;
      .room-listing {
        &__image {
          position: relative;
          @include media-breakpoint-up(md) {
            left: -80px;
          }
        }
        &__text {
          padding: 24px 20px 30px;
          @include media-breakpoint-up(lg) {
            padding: 0 80px 0 0;
          }
          .btn--secondary {
            padding: 0 10px;
          }
        }
      }
    }
  }
}
.rooms-slider-controls-wrap {
  max-width: 1064px;
}
.custom-control-items {
  position: relative;
  margin: auto;
  text-align: center;
  .prev, .next {
    display: inline-block;
    padding: 0 10px;
    color: $white;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    button {
      position: relative;
      top: -2px;
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 10px;
      padding: 0;
      list-style: none;
      cursor: pointer;
      background-color: rgba($white, .5);
      border: 0;
      border-radius: 50%;
      box-shadow: none;
      &:focus {
        outline: 0;
      }
      &.tns-nav-active {
        top: 0;
        width: 12px;
        height: 12px;
        background-color: $white;
      }
    }
  }
  .cta-wrap {
    margin-top: 10px;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: -14px;
      right: 0;
      margin-top: 0;
    }
    .link--cta {
      color: $white;
    }
  }
}
