<section class="container">
  <div class="row align-items-center py-2 py-md-4">
    <div class="col-md-6">
      {% regionblock introblock_image, type:image %}
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1552663289/fkl75c2jkeykeve7yvev.jpg" class="objectfit">
      {% endregionblock %}
    </div>
    <div class="col-md-6 pt-3 pt-md-0">
      {% regionblock introblock_subtitle, type:html %}
        <h4 class="h4">You've Arrived</h4>
      {% endregionblock %}
      <hr/>
      {% regionblock introblock_title, type:html %}
        <h2 class="h2 mb-3">Newly-redesigned contemporary luxury</h2>
      {% endregionblock}
      {% regionblock introblock_content, type:html %}
        <p>Mosaic Hotel's 49 newly-redesigned contemporary guestrooms offer distinctive low-slung clean-lined chairs, luxurious linens and state-of-the-art technology.</p>
      {% endregionblock %}
      {% regionblock introblock_cta, type:html %}
        <a href="#" class="link--cta link--cta--black">Learn More</a>
      {% endregionblock %}
    </div>
  </div>
</section>
