<section class="bg--light py-2 py-md-4">
  <div class="container">
    <div class="text-center">
      <div>
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1552666394/w9f64ce7uplxsuxcbnvq.png" width="158px">
      </div>
      <h3 class="h2 mb-3">Special Offers</h3>
    </div>
    <div class="special-offers-listings row flex-column flex-md-row">
      <div class="card-listing col-md-4">
        <div class="card-listing__image">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1552668557/lit3yamgydrsft4crqdi.jpg" class="objectfit">
        </div>
        <div class="card-listing__content text-center p-3 bg--white">
          <h4 class="h4 mb-2">Save up to 20%</h4>
          <h3 class="h3 mb-3">Sunshine in The Winter</h3>
          <div class="cta-wrap">
            <a href="#" class="link--cta mr-2">View offer</a>
            <a href="#" class="btn btn--tertiary mt-md-2 mt-xl-0">Book Offer</a>
          </div>
        </div>
      </div>
      <div class="card-listing col-md-4">
        <div class="card-listing__image">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1552668557/lit3yamgydrsft4crqdi.jpg" class="objectfit">
        </div>
        <div class="card-listing__content text-center p-3 bg--white">
          <h4 class="h4 mb-2">Save up to 20%</h4>
          <h3 class="h3 mb-3">Sunshine in The Winter</h3>
          <div class="cta-wrap">
            <a href="#" class="link--cta mr-2">View offer</a>
            <a href="#" class="btn btn--tertiary mt-md-2 mt-xl-0">Book Offer</a>
          </div>
        </div>
      </div>
      <div class="card-listing col-md-4">
        <div class="card-listing__image">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1552668557/lit3yamgydrsft4crqdi.jpg" class="objectfit">
        </div>
        <div class="card-listing__content text-center p-3 bg--white">
          <h4 class="h4 mb-2">Save up to 20%</h4>
          <h3 class="h3 mb-3">Sunshine in The Winter</h3>
          <div class="cta-wrap">
            <a href="#" class="link--cta mr-2">View offer</a>
            <a href="#" class="btn btn--tertiary mt-md-2 mt-xl-0">Book Offer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>