<section class="bg--light py-2 py-md-4">
  <div class="container">
    <div class="special-offers row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1552666394/w9f64ce7uplxsuxcbnvq.png" width="158px">
        </div>
        <h3 class="h2 mb-3">Special Offers</h3>
        <ul class="d-none d-md-block special-offers__controls" id="offers-controls">
          <li><i class="fa fa-arrow-left"></i></li>
          <li><i class="fa fa-arrow-right"></i></li>
        </ul>
      </div>
      <div class="special-offers-listings col-md-9">
        <div class="special-offers-listings__wrap">
          <div class="card-listing">
            <div class="card-listing__image">
              <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1552668557/lit3yamgydrsft4crqdi.jpg" class="objectfit">
            </div>
            <div class="card-listing__content text-center p-3 bg--white">
              <h4 class="h4 mb-2">Save up to 20%</h4>
              <h3 class="h3 mb-3">Sunshine in The Winter</h3>
              <div class="cta-wrap">
                <a href="#" class="link--cta mr-2">View offer</a>
                <a href="#" class="btn btn--tertiary mt-md-2 mt-xl-0">Book Offer</a>
              </div>
            </div>
          </div>
          <div class="card-listing">
            <div class="card-listing__image">
              <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1552668557/lit3yamgydrsft4crqdi.jpg" class="objectfit">
            </div>
            <div class="card-listing__content text-center p-3 bg--white">
              <h4 class="h4 mb-2">Save up to 20%</h4>
              <h3 class="h3 mb-3">Sunshine in The Winter</h3>
              <div class="cta-wrap">
                <a href="#" class="link--cta mr-2">View offer</a>
                <a href="#" class="btn btn--tertiary mt-md-2 mt-xl-0">Book Offer</a>
              </div>
            </div>
          </div>
        </div>
        <ul class="d-block d-md-none special-offers__controls" id="offers-controls">
          <li><i class="fa fa-arrow-left"></i></li>
          <li><i class="fa fa-arrow-right"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>
