<!DOCTYPE html>
<html lang="{{ site.active_lang | slice: 0,2 | default: "en" }}" class="no-js">

{% comment %}
This default layout should generally not be overridden.
It contains all of the page structure that should work for any site and ensures SEO properties and scripts are properly included.
{% endcomment %}

<head>
  {% include head.html %}

  {% include scripts.html %}

  {% include head/custom.html %}

</head>

<body>

  {% if site.data.analytics.gtm_tracking_id and page.analytics != false %}
      {% include analytics/gtm-body.html %}
  {% endif %}

  {% if site.data.analytics.custom_body and page.analytics != false %}
    {% comment %}Drop the _data/analytics.yml specified code directly here {% endcomment %}
    {{ site.data.analytics.custom_body  }}
  {% endif %}

  {% include nav-main.html %}

  <div class='main'>
    {{ content }}
  </div>

  <footer >
    {% include footer.html %}
    {% include footer/custom.html %}
  </footer>

  {% include scripts.html %}
</body>

</html>
