---
layout: default
---

<div class="gallery-intro" tabindex="0">
  <p class="h2">Gallery</p>
</div>


{% comment %} TODO, or should this be another type? {% endcomment %}
{% region gallery, type:galleries %}

{{ content }}

{% comment %}

  Name:

    Gallery Page

  Description:

    Display gallery images from the media library.

  Usage:

    Create a new gallery from the 'manage galleries' tab, then display the
    images by looping over the gallery items, referenced by the gallery name.

    eg. {% for photo in site.data._galleries.GALLERY_NAME.photos %}
          <img src="{{ photo.url }}" alt="{{ photo.description }}">
        {% endfor %}

{% endcomment %}
