---
layout: generic
---

<section class="bg--light">
  <div class="container">
    <div class="row align-items-center py-2 py-md-4">
      <div class="col-md-6">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553634451/cojnfbtim7fsves3t03x.jpg" class="objectfit">
      </div>
      <div class="col-md-6 pt-3 pt-md-0">
        <p class="h4">You've Arrived</p>
        <hr/>
        <h2 class="h2 mb-3">Step outside into Hollywood’s Best</h2>
        <p>Mosaic Hotel is just steps from a diverse collection of world-class restaurants, museums, nightclubs, and the shops of Rodeo Drive, Wilshire Boulevard, and Century City. The Pacific Ocean is only 15 minutes away from the Mosaic at Santa Monica Beach. If you’re Hollywood bound, Mosaic Hotel is also the perfect location for you.</p>
        <a href="/contact" class="link--cta">Contact Us</a>
      </div>
    </div>
  </div>
</section>