---
layout: default
---

{% region hero, type:hero %}

<section class="offers-listing">
  <div class="container">
    <div class="row">
      <div class="offer-listing align-items-center d-lg-flex">
        <div class="col-lg-6">
          <div class="offer-listing__image">
            <img class="objectfit" src="//res.cloudinary.com/traveltripperweb/image/upload/v1552671665/sd0mcuum0bpkjqenvk9v.jpg">
          </div>
        </div>
        <div class="col-lg-6 p-4">
          <div>
            <h3 class="h3">Sunshine in the Winter</h3>
            <hr class="hr">
            <h4 class="h4 mb-3">save up to 20%</h4>
            <p>Leave the cold behind with Mosaic Hotel and enjoy additional savings!</p>
            <div class="cta-wrap">
                <a class="link--cta mr-4" href="#">View Offer</a>
                <a class="btn btn--tertiary" href="#">Book Offer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>